{% extends 'mailing/base.html' %}
{% load my_tags %}



{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="col-12 mb-4">
        <a class="btn btn-outline-primary" href="{% url 'mailing:client_create' %}">Создать клиента</a>
    </div>

    <div class="row text-center">

        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                                    </div>

                <div class="card-body">
                    {% for object in object_list %}
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> Категория: {{ object.email }}</li>
                    </ul>

                    <br>
                    <div class="btn-group">
                        <a class="btn btn-outline-secondary" href="{% url 'mailing:client_update' object.pk %}">Редактировать</a>
                        <a class="btn btn-outline-danger" href="{% url 'mailing:client_delete' object.pk %}">Удалить</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% else %}
{% include 'mailing/includes/inc_need_authorization.html' %}
{% endif %}

    {% endblock %}

