{% extends 'mailing/base.html' %}


{% block content %}
{% if user.is_authenticated %}
<div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Создать</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
{% else %}
{% include 'mailing/includes/inc_need_authorization.html' %}
{% endif %}
{% endblock %}

