
{% extends 'mailing/base.html' %}

{% block content %}

<div class="col-12">
        <form class="row justify-content-md-center" method="post" enctype="multipart/form-data">

                <div class="col-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="card-title">
                                    Восстановить пароль
                            </h3>
                        </div>
                        <div class="card-body">

                            {% csrf_token %}
                            <input type="text" name="email" class="form-control" id="email" placeholder="Электронная почта" required>
                        <br>
                        <button type="submit" class="p-2 btn btn-outline-primary">Отправить</button>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
        </form>
</div>

{% endblock %}
