{% extends 'mailing/base.html' %}

{% block content %}


<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">Регистрация завершена успешно!</p>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
