<div class="row justify-content-md-center">

                <div class="col-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="card-title">
                                    Вам нужно авторизоваться
                            </h3>
                        </div>
                        <div class="card-body">
                            <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a>
                            <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Зарегистрироваться</a>

                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
        </div>